@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,900&family=Quicksand:wght@300;400;500;600;700&display=swap');
:root{
    --grey: rgb(31, 62, 89)
}

*{
    font-family: 'Lato', sans-serif;
}

body{
    margin: 0;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(233, 193, 175);
    padding: 1rem;

    -webkit-box-shadow:0px 1px 1px var(--grey);
    -moz-box-shadow:0px 1px 1px var(--grey);
    box-shadow:0px 1px 1px var(--grey);
}

h3{
    font-size: 2rem;
    color: var(--grey);
}

.profile-picture {
    width: 5rem;
    height: auto;
    border-radius: 50%;
}

.content{
    display: flex;
    flex-direction: column;
    text-align: center;
}

#add-book{
    width: 5rem;
    height: 2rem;
    align-self: center;
}

.book-list{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: max-content;
    padding: 5rem;
    padding-top: 1rem;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    border: 1px solid black;
    border-left-width: 10px;
    border-left-style: solid;
    border-left-color: var(--grey);
}